/**
 * Styles for the pages and posts
 */

.page-content,
.post-content {
  font-family: var(--text-font);
}

.page-title,
.post-title {
  margin: 0;
}

.post-subtitle {
  margin: 0;
  color: var(--body-color-light);
}

.post-image {
  width: 80%;
}

.post-meta {
  color: var(--body-color-light);
  font-size: .8em;  //每个post页面标签和类别字体大小。
}

.post-meta-top {
  margin-bottom: var(--spacing);
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: calc(1/2 * var(--spacing));  // post 的顶部分成了两列，两列之间的距离
}

.post-categories {
  text-align: right;
}

a.post-category {
  color: var(--color-category);

  &:hover,
  &:focus {
    text-decoration: none;
    color: var(--color-category-active);
  }
}

a.post-tag {
  color: var(--color-tag);

  &:hover,
  &:focus {
    text-decoration: none;
    color: var(--color-tag-active);
  }
}

.post-meta-bottom {
  margin-top: calc(2 * var(--spacing));
}

.post-prev {
  text-align: left;
}

.post-next {
  text-align: right;
}
